In [2]:
print("5+7=", 5+7)

5+7= 12

In [5]:
print(2**3) #**는 제곱

8

In [7]:
print(3/2) # 나누기

1.5

In [8]:
print(8//3) #몫

2

In [9]:
print(3//2)

1

In [15]:
string = "문자열"
number = 273
string + str(number)  #문자열과 숫자열이 동시에 출력할 수 없으므로
#숫자열을 문자열로 변환한다

'문자열273'

In [17]:
pi = 3.14 #변수 지정

In [18]:
print(pi) #변수 출력

3.14

In [20]:
pi + 2, pi - 3, pi + pi

(5.140000000000001, 0.14000000000000012, 6.28)

In [23]:
pi = 3.14159265
r = 10
print("원주율 = ", pi)
print("반지름 = ", r)
print("원의 둘레 = ", 2*pi*r)
print("원의 넓이 = ", pi*r*r)

둘레 = 2*pi*r
넓이 = pi*r**2

print("둘레는 뭘까요? ", 둘레)
print("넓이는 뭘까요? ", 넓이)

원주율 =  3.14159265
반지름 =  10
원의 둘레 =  62.831853
원의 넓이 =  314.159265
둘레는 뭘까요?  62.831853
넓이는 뭘까요?  314.159265

In [26]:
a = 10
a += 10 # a = 20
a -= 3 # a = 17
print(a) # +=, -= 등으로 줄여서 활용 가능, a += 10 은 a = a + 10 과 같다.

17

In [28]:
input("인사말 입력하세요 ")

인사말 입력하세요하이하이

'하이하이'

In [35]:
number = 100
number += 10
number += 20
number += 30
print("number =", number)

number = 160

In [38]:
string = "안녕하세요"
string += "!"
string += "!"
print("string = ", string)

string =  안녕하세요!!

In [41]:
string = input("인사말을 입력해주세요>")
print(string)
print(type(string))

인사말을 입력해주세요>안녕하세요!
안녕하세요!
<class 'str'>

In [42]:
num = input("숫자를 입력하세요>") # input함수는 무엇을 입력해도 문자열로 출력
print(num)
print(type(string))

숫자를 입력하세요>123
123
<class 'str'>

In [44]:
string = input("입력> ")
print("자료:", string)
print("자료형:", type(string))

입력> 안녕
자료: 안녕
자료형: <class 'str'>

In [47]:
string = input("입력> ")
print("입력 + 100:", string + str(100))

입력> 123
입력 + 100: 123100

In [34]:
str_a = input("입력바람_a> ")
int_a = int(str_a)

str_b = input("입력바람_b> ")
int_b = int(str_b)

print("문자열 자료: ", str_a + str_b) #문자열은 더하면 나열된다.
print("숫자 자료: ", int_a + int_b) #숫자열은 수식이 된다.

입력바람_a> 277
입력바람_b> 59
문자열 자료:  27759
숫자 자료:  336

In [49]:
output_a = "52"
output_b = "52.123"
print(type(output_a), output_a)
print(type(output_b), output_b)

<class 'str'> 52
<class 'str'> 52.123

In [50]:
input_a = float(int(2))
input_b = float(int(3))
print("덧셈 결과:", input_a + input_b)
print("뺄셈 결과:", input_a - input_b)
print("곱셈 결과:", input_a * input_b)
print("나눗셈 결과:", input_a / input_b)

덧셈 결과: 5.0
뺄셈 결과: -1.0
곱셈 결과: 6.0
나눗셈 결과: 0.6666666666666666

In [57]:
a = str(52)
b = str(52.30)
print(a)
print(b)
print(a + b)

52
52.3
5252.3

In [55]:
type(b)

str

In [56]:
type(a)

str

In [60]:
"{}".format(10) # 숫자를 문자열로

'10'

In [61]:
"{} {} {} {} {}".format(101,202,303,404,505)

'101 202 303 404 505'

In [64]:
# format() 함수로 숫자를 문자열로 변환하기
format_a = "{}만 원".format(5000)
format_b = "파이썬 열공하여 첫 연봉 {}만 원 만들기! ".format(5000)
format_c = "{} {} {}".format(3000, 4000, 5000)
format_d = "{} {} {}".format(1, "문자열", True)

print(format_a)
print(format_b)
print(format_c)
print(format_d)

5000만 원
파이썬 열공하여 첫 연봉 5000만 원 만들기!
3000 4000 5000
1 문자열 True

In [67]:
a = "{:d}".format(52) # {:d}는 정수로 표현하라는 것
print(a)
b = "{:5d}".format(52) #{:5d}는 5칸 띄우라는 것
print(b)

52
   52

In [68]:
a = "{:05d}".format(52) # 전체를 5까지로 하고 빈 칸을 0으로 채우라는 것
print(a)

'00052'

In [70]:
output_f = "{:+d}".format(52) #양수
output_g = "{:+d}".format(-52) #음수
output_h = "{: d}".format(52) #양수: 기호 부분 공백
output_i = "{: d}".format(-52) #음수: 기호 부분 공백
print(output_f)
print(output_g)
print(output_h)
print(output_i)

+52
-52
 52
-52

In [80]:
#정수
output_a = "{:d}".format(52)

#특정 칸에 출력
output_b = "{:5d}".format(52)
output_c = "{:10d}".format(52)

#빈 칸을 0, -으로 채움
output_d = "{:05d}".format(52)
output_e = "{:05d}".format(-52)

print("#정수:\n", output_a)
print("#특정 칸에 출력:\n", output_b, output_c)
print("#빈 칸을 0, -으로 채움:\n", output_d, output_e)

#정수:
 52
#특정 칸에 출력:
    52         52
#빈 칸을 0, -으로 채움:
 00052 -0052

In [5]:
output_f = "{:+5d}".format(52) #기호를 뒤로 밀기:양수
output_g = "{:+5d}".format(-52) #기호를 뒤로 밀기:음수
output_h = "{:=+5d}".format(52) #기호를 앞으로 당기기:양수
output_i = "{:=+5d}".format(-52) #기호를 앞으로 당기기:음수
output_j = "{:+05d}".format(52) #빈 칸 0으로 채우기:양수
output_k = "{:+05d}".format(-52) #빈 칸 0으로 채우기:음수

print(output_f)
print(output_g)
print(output_h)
print(output_i)
print(output_j)
print(output_k)

  +52
  -52
+  52
-  52
+0052
-0052

In [14]:
output_a = "{:f}".format(52.352) #float(실수) 표현
output_b = "{:15.3f}".format(52.352) #15자리까지 띄우고 소수점 셋째자리까지 표현
output_c = "{:15.2f}".format(52.352) #15자리까지 띄우고 소수점 둘째자리까지 표현

print(output_a)
print(output_b)
print(output_c)

52.352000
         52.352
          52.35

In [15]:
type(output_a) #실수를 표현하였지만 문자열

str

In [17]:
float(output_a) #문자열을 숫자열로 변환

52.352

In [18]:
round(52.352) #round 함수

52

In [19]:
output_a = 52.0
output_b = "{:g}".format(output_a) #소수점 표시 안 함
print(output_a)
print(output_b)

52.0
52

In [22]:
a = "hello. everyone"
a.upper() # 다 대문자로 표현

'HELLO. EVERYONE'

In [25]:
b = "HELLO. EVERYONE"
b.lower() # 다 소문자로 표현

'hello. everyone'

In [30]:
a = """
            코딩은
재밌습니다."""
print(a.strip()) #strip은 공백 제거, java언어를 python으로 옮길 때 등

코딩은
재밌습니다.

In [31]:
a = "안녕안녕하세요".find("안녕") #왼쪽부터 찾기 #0번째에 나왔다는 뜻
b = "안녕안녕하세요".rfind("안녕") #오른쪽부터 찾기 #헷갈려
print(a)
print(b)

0
2

In [34]:
print("안녕" in "안녕하세요") #안에 있는지 찾기 # in 연산자
print("잘자" in "안녕하세요")

True
False

In [46]:
a = "10 20 30 40 50 60".split(" ") #split는 문자열 자르기
print(a)
b = "10 20 30 40 50 60".split(",") #사이에 쉼표 가능
print(b)

['10', '20', '30', '40', '50', '60']
['10 20 30 40 50 60']

In [47]:
print(10 == 100) #f 불 자료형(boolean)
print(10 != 100) #t
print(10 < 100) #t
print(10 > 100) #f
print(10 <= 100) #t
print(10 >= 100) #f

False
True
True
False
True
False

In [48]:
print("가방" == "가방")
print("가방" != "하마")
print("가방" < "하마") # 문자열의 데이터 크기 비교
print("가방" > "하마")

True
True
True
False

In [49]:
print(not True) #not 연산자, 반대로 바꿀 때 사용
print(not False)#if, in, not 같이 쓰는 경우 많음

False
True

In [52]:
x = 10
under_20 = x < 20
print("under_20:", under_20)
print("not under_20:", not under_20)

under_20: True
not under_20: False

In [53]:
if True:
    print("True")
    print("왕 참이에요")

True
왕 참이에요

In [58]:
#정수를 입력
number = input("정수 입력> ")
number = int(number)
#양수 조건
if number > 0:
    print("양수입니다")
#음수 조건    
if number < 0:
    print("음수입니다")
#0 조건
if number == 0:
    print("0입니다")

정수 입력> -1
음수입니다

In [59]:
import datetime #datetime 기능 사용

In [85]:
now = datetime.datetime.now() # 현재 시각 출력

In [86]:
print(now.year)

2021

In [87]:
print(now.month)

4

In [88]:
print(now.day)

1

In [89]:
print(now.hour)

14

In [90]:
print(now.minute) #now.까지 치고 shift + tab 누르면 설명 뜸

59

In [91]:
print(now.second)

35

In [99]:
print("{}/ {}/ {}/ {}: {}: {}".format(
    now.year,
    now.month,
    now.day,
    now.hour,
    now.minute,
    now.second
))

2021/ 4/ 1/ 14: 59: 35

In [104]:
now = datetime.datetime.now()
if now.hour < 12:
    print("현재 시각은 {}시로 오전입니다.".format(now.hour))
    
if now.hour > 12:
    print("현재 시각은 {}시로 오후입니다.".format(now.hour))

현재 시각은 15시로 오후입니다.

기준: 계절 구분, 3개월 단위로 함(연간 12개월)

In [1]:
import datetime
now = datetime.datetime.now()

if 3 <= now.month <= 5:
    print("이번 달은 {}월로 봄입니다.".format(now.month))
    
if 6 <= now.month <= 8:
    print("이번 달은 {}월로 여름입니다.".format(now.month))
    
if 9 <= now.month <= 11:
    print("이번 달은 {}월로 가을입니다.".format(now.month))
    
if now.month == 12 or 1 <= now.month <= 2:
    print("이번 달은 {}월로 겨울입니다.".format(now.month))

이번 달은 4월로 봄입니다.

In [3]:
num = input("정수 입력>")
char = num[-1]
re_num = int(char)
if re_num % 2 == 0:
    print("짝수입니다.")
else:
    print("홀수입니다")

정수 입력>135839674381
홀수입니다

In [9]:
score = float(input("점수 입력> "))

if score == 4.5:
    print("신")
elif score >= 4.2:
    print("교수님의 사랑")
elif score >= 3.5:
    print("현 체제의 수호자")
elif score >= 2.8:
    print("일반인")
elif score >= 2.3:
    print("일탈을 꿈꾸는 소시민")
elif score >= 1.75:
    print("오락문화의 선구자")
elif score >= 1.0:
    print("불가촉천민")
elif score >= 0.5:
    print("자벌레")
elif score > 0:
    print("플랑크톤")
else:
    print("시대를 앞서가는 혁명의 씨앗")

점수 입력> 0
시대를 앞서가는 혁명의 씨앗

In [10]:
print("# if 조건문에 0 넣기")
if 0:
    print("0은 True로 전환됩니다.")
else:
    print("0은 False로 전환됩니다.")
    
print("# if 조건문에 빈 공간 넣기")
if "":
    print("빈 공간은 True로 전환됩니다.")
else:
    print("빈 공간은 False로 전환됩니다.")

# if 조건문에 0 넣기
0은 False로 전환됩니다.
# if 조건문에 빈 공간 넣기
빈 공간은 False로 전환됩니다.

In [11]:
number = input("정수 입력> ")
number = int(number)
if number > 0:
    pass
else:
    pass

정수 입력> 123

In [15]:
array = [273, 32, 103, "문자열", True, False]
print(array)

[273, 32, 103, '문자열', True, False]

In [16]:
array[-3]

'문자열'

In [17]:
array[0]

273

In [18]:
array[3][0]

'문'

In [19]:
list_a = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
list_a[0]

[1, 2, 3]

In [20]:
list_a[1][0]

4

In [25]:
# 리스트 선언
list_a = [1, 2, 3]
list_b = [4, 5, 6]

#출력
print("# 리스트")
print("list_a: ", list_a)
print("list_a: ", list_b)
print()

#기본 연산자
print("# 리스트 기본 연산자")
print("list_a + list_b: ", list_a + list_b)
print("list_a * 3: ", list_a * 3)
print()

#함수
print("# 길이 구하기")
print("len(list_a): ", len(list_a))

# 리스트
list_a:  [1, 2, 3]
list_a:  [4, 5, 6]

# 리스트 기본 연산자
list_a + list_b:  [1, 2, 3, 4, 5, 6]
list_a * 3:  [1, 2, 3, 1, 2, 3, 1, 2, 3]

# 길이 구하기
len(list_a):  3

In [28]:
# 리스트를 선언합니다.
list_a = [1, 2, 3]

#리스트 뒤에 요소 추가하기
print("# 리스트 뒤에 요소 추가하기")
list_a.append(4)
list_a.append(5)
print(list_a)
print()

#리스트 중간에 요소 추가하기
print("# 리스트 중간에 요소 추가하기")
list_a.insert(0, 10)
list_a.insert(0, 11)
print(list_a)

# 리스트 뒤에 요소 추가하기
[1, 2, 3, 4, 5]

# 리스트 중간에 요소 추가하기
[11, 10, 1, 2, 3, 4, 5]

In [31]:
#리스트 연결 연산자
list_a = [1, 2, 3]
list_b = [4, 5, 6]
print(list_a + list_b)
print(list_a)
print(list_b)

[1, 2, 3, 4, 5, 6]
[1, 2, 3]
[4, 5, 6]

In [32]:
#리스트 요소 추가
list_a.extend(list_b)
print(list_a)
print(list_b)

[1, 2, 3, 4, 5, 6]
[4, 5, 6]

In [39]:
#index로 리스트 요소 제거
list_a = [1, 2, 3, 4, 5, 6]
del list_a[-2:]
print(list_a)
list_a.pop(-1)
print(list_a)

[1, 2, 3, 4]
[1, 2, 3]

In [43]:
#값으로 리스트 요소 제거
list_a = [1, 2, 3]
list_a.remove(3)
print(list_a)

list_a = [1, 2, 1, 2] #remove는 앞쪽에 있는 것 하나만 제거
list_a.remove(2)
print(list_a)

[1, 2]
[1, 1, 2]

In [44]:
#리스트 요소 모두 제거
list_a = [1, 2, 3, 4, 5, 6]
list_a.clear()
print(list_a)

[]

In [48]:
#리스트 내부에 있는지 확인 값 in 리스트, 값 not it 리스트
list_a = [1, 2, 3, 4, 5]
print(1 in list_a)
print(8 in list_a)
print(2 not in list_a)
print(7 not in list_a)

True
False
False
True

In [55]:
# for 반복문
# for 반복자 in 반복할 수 있는 것:
    #코드
for i in range(10):
    print("행복은")

행복은
행복은
행복은
행복은
행복은
행복은
행복은
행복은
행복은
행복은

In [56]:
for i in range(10):
    print("가까이")
for i in range(10):
    print("있어요")

가까이
가까이
가까이
가까이
가까이
가까이
가까이
가까이
가까이
가까이
있어요
있어요
있어요
있어요
있어요
있어요
있어요
있어요
있어요
있어요

In [57]:
array = [273, 32, 103, 57, 52]

for element in array:
    print(element)

273
32
103
57
52

In [61]:
#홀짝 구분
number = int(input("정수 입력> "))

if number % 2 == 0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

정수 입력> 6
짝수입니다.

In [68]:
import datetime
now=datetime.datetime.now()
print("{}/ {}/ {}/ {}: {}: {}".format(
now.year,
now.month,
now.day,
now.hour,
now.minute,
now.second))

2021/ 4/ 1/ 21: 20: 17

In [1]:
import datetime
now = datetime.datetime.now()
month = now.month

if 3 <= month <= 5:
    print("지금은 {}월이고, 봄입니다.".format(month))
elif 6 <= month <= 8:
    print("지금은 {}월이고, 여름입니다.".format(month))
elif 9 <= month <= 11:
    print("지금은 {}월이고, 가을입니다.".format(month))
else:
    print("지금은 {}월이고, 겨울입니다.".format(month))

지금은 4월이고, 봄입니다.

In [2]:
c = [1, 2, 1, 2]
c.remove(2) #특정 값을 제거, 앞부터 한 번만
print(c)

[1, 1, 2]

In [3]:
c = [1, 2, 1, 2]
c.clear()
print(c)

[]

In [7]:
list_a = [273, 32, 103, 123, 99]
273 in list_a

True

In [6]:
0 in list_a

False

In [8]:
32 not in list_a

False

In [9]:
15 not in list_a

True

In [12]:
a = [273, 32, 103, 57, 52]

In [13]:
for i in a: #a가 리스트이고 요소가 5개이기 때문에 5번 반복
    print("출력")

출력
출력
출력
출력
출력

In [14]:
for i in [273, 32, 103, 57, 52]:
    print("출구")

출구
출구
출구
출구
출구

In [15]:
for i in a: # a를 i에 넣고 index 위치에 따라 print, 끝까지 반복
    print(i)

273
32
103
57
52

In [16]:
#dictionary는 {}사용
dict_a = {
    "name": "어밴저스 엔드게임",
    "type": "히어로 무비"
}
print(dict_a)

{'name': '어밴저스 엔드게임', 'type': '히어로 무비'}

In [18]:
############시험문제#############
dict_a['name'] # dictionary에서 특정 요소만 출력하려면 list 형식으로 표현

'어밴저스 엔드게임'

In [19]:
dict_a['type']

'히어로 무비'

In [22]:
dict_b = {
    "director": ["안소니 루소", "조 루소"], "cast": ["아이언맨,", "타노스", "토르", "닥터스트레인지", "헐크"]
}
print(dict_b)
print(dict_b["director"])
print(dict_b["cast"])

{'director': ['안소니 루소', '조 루소'], 'cast': ['아이언맨,', '타노스', '토르', '닥터스트레인지', '헐크']}
['안소니 루소', '조 루소']
['아이언맨,', '타노스', '토르', '닥터스트레인지', '헐크']

In [72]:
dict = {
    "name": "7D 건조 망고", #딕트 중괄호 안에서는 :을 사용
    "type": "당절임",
    "ingredient": ["망고", "설탕", "메타중아황산나트륨", "치자황색소"],
    "origin": "필리핀"
}
print(dict)
print(dict["name"])

{'name': '7D 건조 망고', 'type': '당절임', 'ingredient': ['망고', '설탕', '메타중아황산나트륨', '치자황색소'], 'origin': '필리핀'}
7D 건조 망고

In [30]:
print(dict["ingredient"])

['망고', '설탕', '메타중아황산나트륨', '치자황색소']

In [31]:
print(dict["origin"])

필리핀

In [32]:
print(dict["type"])

당절임

In [33]:
print(dict["ingredient"][0])

망고

In [58]:
name = "이름"
type_key = "형태"
dict_key = {
    name: "망고",
    type_key: "당절임"
}

In [59]:
print(dict_key)

{'이름': '망고', '형태': '당절임'}

In [60]:
dict_key["price"] = 5000

In [61]:
print(dict_key)

{'이름': '망고', '형태': '당절임', 'price': 5000}

In [62]:
dict_key["이름"] = "수박"

In [63]:
print(dict_key)

{'이름': '수박', '형태': '당절임', 'price': 5000}

In [70]:
del dict_key["형태"]
print(dict_key)

{'이름': '수박', 'price': 5000}

In [75]:
dict = {} #비워놓고 나중에 추가

dict["name"] = "이름"
dict["head"] = "머리"
dict["body"] = "몸"

print(dict)

{'name': '이름', 'head': '머리', 'body': '몸'}

In [76]:
del dict["body"]
print(dict)

{'name': '이름', 'head': '머리'}

In [83]:
#dictionary = {안에 : , 잊지 말자!!!}
dict = {
    "name": "건조 망고",
    "type": "당절임",
    "ingredient": ["망고", "설탕", "메타중아황산나트륨", "치자황색소"],
    "origin": "필리핀"
}
key = input("접근하고자 하는 키> ")
if key in dict:
    print(dict[key])
else:
    print("잘못된 접근입니다.")

접근하고자 하는 키> 망고
잘못된 접근입니다.

In [85]:
#dictionary = {안에 : , 잊지 말자!!!}
dict = {
    "name": "건조 망고",
    "type": "당절임",
    "ingredient": ["망고", "설탕", "메타중아황산나트륨", "치자황색소"],
    "origin": "필리핀"
}

for key in dict:
    print(dict[key])

건조 망고
당절임
['망고', '설탕', '메타중아황산나트륨', '치자황색소']
필리핀